.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10rem 1fr 5%;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
  min-height: 100vh;
}

body {
  background-color: #bb2528;
}

.header {
  grid-area: header;
}

h1 {
  color: #f8b229;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 72px;
  text-align: center;
}

.content {
  grid-area: content;
  width: 80vw;
  height: 80vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

img {
  width: 80vw;
}
